site_name: Arcade Skirmish Club
site_url: https://asc.adelynflowers.dev
theme:
  features:
    - navigation.instant
    - navigation.sections
    - navigation.expand
  name: material
  palette:
    primary: "deep purple"
markdown_extensions:
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
plugins:
  - search
extra:
  social:
    - icon: fontawesome/brands/discord
      name: Xepher Arcade Discord
      link: https://discord.gg/xepherarcade
